body {
    display: grid;
    grid-area: grid;
    grid-template-columns: 3fr 1fr;
    grid-auto-rows: auto;
}

header {
    grid-column: 1 / -1;
    background-color: rgb(123, 201, 162);
}


nav {
    display: flex;
    justify-content: space-around;
    background-color: lightblue;
}


main {
    grid-column: 1/ 2;
    padding: 60px;
    background-color: lightgray;
}

aside {
    grid-column: 2/3;
    background: gray;
    padding: 20px;
}

footer {
    padding: 20px;
    grid-column: 1/ -1;
    background: darkgray;
}