* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: rgb(199, 59, 59);
    color: white;
    text-align: center;
}

#course-title {
    display: block;
    padding: 1rem;
    font-size: 1.3rem;
    font-weight: bold;
}

nav {
    background-color: darkslategray;
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 0.75rem;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

main {
    max-width: 1100px;
    margin: 2rem auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
}

main h1 {
    grid-column: 1/ -1;
    text-align: center;
    margin-bottom: 2rem;
}

.card {
    background-color: white;
    border-radius: 6px;
    padding: 1.5rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.card p {
    line-height: 1.6
}

.card h2,
.card h3 {
    background-color: rgb(199, 59, 59);
    color: white;
    padding: 0.5rem;
    margin-top: 0;
    border-radius: 4px;
}

.card img {
    max-width: 150px;
    display: block;
    margin: 1rem auto;
    border-radius: 4px;
}

.card ul {
    list-style-position: inside;
    padding-left: 0;
    padding-top: 160px;
}

.card li {
    margin-bottom: 0.5rem;
}

.card a {
    color: rgb(199, 59, 59);
    text-decoration: none;
}

.card a:hover {
    text-decoration: underline;
}



footer {
    background-color: rgb(199, 59, 59);
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}