#menu {
    display: none;
}

.navigation {
    display: flex !important;
    flex-direction: row;
    gap: 1rem;
}

.grid-container {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem
}
